*.html
amr-gene-logreg
negbin-randintercept
negbin_gp
poisson_gp
negbin_gp_nopreds
amr-gene-multilevel-gp-cholfactv2_stoolvsswab
lm_stoolvswab
*.docx
*.png
*.svg
*.pptx
*otter*
*.zip
.DS_Store
.Rhistory
.Rproj.user
documents/
hi_c_sequencing/
manuscript/
amr-gene-multilevel-gp-cholfactv2
amr-gene-logreg
*.pdf
*.jpg
lm
