*.html
amr-gene-logreg
negbin-randintercept
negbin_gp
poisson_gp
negbin_gp_nopreds
*.tab
*.docx
*.png
*otter*
*.zip
.DS_Store
.Rhistory
.Rproj.user
documents/
data_raw/
data_processed/
amr-gene-multilevel-gp-cholfactv2
amr-gene-logreg
*.pdf
*.jpg


